<div class="jumbotron cover-photo">
    <div class="avatar-inside-cover">
    	<%= profile_avatar_select(@user) %>
    </div>
    <div class="info-inside-cover">
        <div class="user-name">
            <%= @user.user_name %>
             <p class="follow"><%= pluralize @user.posts.count, 'post' %>|<%= @user.following.count %> following|<%= @user.followers.count %> followers</p>
        </div>
        <p><span class="info" style="opacity: 0.9;"><%= @user.info %></span></p>
    </div>
    <div class="edit-btn">
        <% if @user == current_user %>
            <%= link_to 'Edit Profile', edit_profile_path(@user.user_name),class: 'btn btn-primary form-margin', style: 'opacity: 0.8;' %>
        <%else%>
        
        <%= render 'follow_form' if user_signed_in? %>
        <%end%>
       
       
    </div>
   
</div>
<hr>
<div class="container">
    <div class="row">
        <% @posts.each do |post| %>
            <div class="col-xs-4">
        		<%=link_to (image_tag post.image.url(:medium), class:'thumbnail adjust-image'),post_path(post) %>
            </div>
        <%end%>
    </div>
</div>