<div class="container">
    <h1 align="center">Sign up</h1>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

                <%= f.label :user_name %>
                <%= f.text_field :user_name, class: 'form-control form-margin', required: true, autofocus: true %>

                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control form-margin' %>

                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
                <%= f.password_field :password, class: 'form-control form-margin', autocomplete: "off" %>

                <%= f.label :password_confirmation, "Confirmation" %>
                <%= f.password_field :password_confirmation, class: 'form-control form-margin', autocomplete: "off" %>

                <%= f.submit "Creat my account", class: "btn btn-lg btn-primary btn-block form-margin" %>
            <% end %>
            <p>Already have an account? <%= render "devise/shared/links" %></p>
        </div>
    </div>
</div>