    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to root_path do%>
                <a class="navbar-brand" href="/">SICU</a>
                <% end %>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <% if user_signed_in? %>
                        <li>
                            <%= link_to "Hi, "+current_user.user_name, profile_path(current_user.user_name) %>
                        </li>
                        <li>
                            <!--<i class="fa fa-cloud-upload"></i>-->
                            <%= link_to "",new_post_path, :class => "fa fa-cloud-upload fa-2x" %>
                        </li>
                        <li>
                            <%= link_to "", destroy_user_session_path, method: :delete, :class => "fa fa-sign-out fa-2x" %>
                        </li>
                    <% else %>
                        <li>
                            <%= link_to "Sign up", new_user_registration_path%>
                        </li>
                        <li>
                            <%= link_to "Sign in", new_user_session_path%>
                        </li>
                    <% end %>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>