<div class="center">
    <div class="thumbnail" style="padding: 10px;">
        <%= form_image_select(@post) %>
        <%= simple_form_for @post, html: { multipart: true } do |f| %>
            <%= f.error_notification  %>
            <h4> Upload an image (this is required): </h4>
            <%= f.input :image, label: false, input_html: { onChange: 'loadFile(event)' } %>
            <h4>Caption</h4>
            <%= f.text_area :caption, label: false, class: 'form-control', placeholder: 'Add your caption' %>
            <%= f.button :submit, class: 'btn-success btn-block' %>
        <% end %>
    </div>
</div>