<div class="posts-wrapper">
  <div class="post">
    <div class="post-head">
      <div class="thumb-img">
      <div class="user-name">
        <%= post.user.user_name %>
      </div>
      </div>
    </div>
    <div class="image center-block text-center">
      <%=image_tag @post.image.url(:medium) %>
    </div>
    <div class="post-bottom">
      <div class="caption">
        <div class="user-name">
          <%= post.user.user_name %>
        </div>
        <%= post.caption %>
      </div>
      <% if post.comments %>
        <% post.comments.each do |comment| %>
          <div class="comment">
            <%= comment.user.user_name %>
            <%= comment.content %>
            <% if comment.user == current_user %>
              <%= link_to post_comment_path(post, comment), method: :delete, data: { confirm: "Are you sure?" } do %>
                delete_comment
              <%end%>
            <%end%>
          </div>
        <%end%>
      <%end%>
    </div>
    <div class="comment-like-form row" >
      
      <%= form_for [post, post.comments.new] do |f| %>
        <%= f.text_field :content, placeholder: 'Add a comment...' %>
      <%end%>
    </div>
  </div>
</div>