<div class="posts-wrapper">
  <div class="post">
    <div class="post-head">
      <div class="thumb-img">
      <div class="user-name">
<<<<<<< HEAD
        <%= link_to post.user.user_name, profile_path(post.user.user_name) %>
=======
        <b><%= post.user.user_name %></b>
>>>>>>> 52d87fc027da7c40ccff60ff28888932971d68a4
      </div>
      <div class="time-ago">
        <%= time_ago_in_words post.created_at %>
      </div>
      </div>
    </div>
    <div class="image center-block text-center">
      <%=link_to (image_tag post.image.url(:medium), class:'img-responsive'),
                 post_path(post) %>
    </div>
    <div class="post-bottom">
      <div class="caption">
        <%= post.caption %>
      </div>
      <div id="comments_#{post.id}">
        <% if post.comments %>
          <%= render post.comments, post: post %>
        <%end%>
      </div>
    </div>
    <div class="comment-like-form row" >
      <%= form_for([post, post.comments.build], remote: true) do |f| %>
        <%= f.text_field :content, placeholder: 'Add a comment...', class: 'form-control', id: "comment_content_#{post.id}" %>
      <%end%>
    </div>
  </div>
</div>