<div class="container center">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <% @posts.each do |post| %>
                <div class="thumbnail" style="padding: 10px">
                	<h4><b><%= post.user.user_name %></b></h4>
                	<%= time_ago_in_words post.created_at %>
                    <hr>
                    <div class="caption"><%=post.caption %></div>
                	<%=link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post) %>

                </div>
                	<div>
                		TAGS:
                		<% post.tags.any? %>
                 		<% post.tags.each do |tag| %>
                 		<span class="label label-teal">
                    	<%= link_to tag.name, tag_path(tag.name) %>
                 		</span>
                 	</div>
                	<div>
                	 	<%= pluralize post.reputation_for(:votes).to_i, "vote" %>
              		|	<%= link_to "up", vote_post_path(post, type: "up"), method: "post" %>
              		|	<%= link_to "down", vote_post_path(post, type: "down"), method: "post" %>
              		</div>
                    <% end %>
            <%end%>
        </div>
    </div>
</div>
