<div>   
  <% if user_signed_in? %>
    <%= render 'post', post: @post %>
    <% if @post.user.id == current_user.id %>
      <div class="text-center ">
        <%= link_to "Cancel", posts_path %>
        |
        <%= link_to "Edit Post", edit_post_path(@post) %>
        |
        <%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>
      </div><br/>
    <% else %>
      <div class="text-center ">
        <%=link_to "Cancel", posts_path %>
      </div>
    <%end%>
  <%else%>
    <%=image_tag @post.image.url(:medium) %>
    <p> caption </p>
    <%=@post.caption %>
    <div class="text-center ">
      <%=link_to "Cancel", posts_path %>
    </div><br/>
  <%end%> 
</div>