<div class="text-center">
    <%=image_tag @post.image.url(:medium) %>
    <p> caption </p>
      <%=@post.caption %>

    <% if user_signed_in? %>
      <%= render 'post', post: @post %>
      <% if @post.user.id == current_user.id %>
        <div class="text-center ">
          <%= link_to "Cancel", posts_path %>
          |
          <%= link_to "Edit Post", edit_post_path(@post) %>
        </div>
      <% else %>
        <div class="text-center ">
          <%=link_to "Cancel", posts_path %>
        </div>
      <%end%>
    <%else%>
      <div class="text-center ">
        <%=link_to "Cancel", posts_path %>
      </div>
    <%end%>
</div>